databases:
   foo:
      driverClass: org.h2.Driver
      url: jdbc:h2:mem:foo
      user: "sa"
      password: ""
      
   bar:
      driverClass: org.h2.Driver
      url: jdbc:h2:mem:bar
      user: sa
      password: ""

http:
   configured:
      isp:
         url: http://127.0.0.1/isp
         body: soap_getaccess

      meteo:
         url: https://127.0.0.1/meteo
         body: lille
         headers:
            accept: text/html
            content: text/plain
            
            